<div class="container">
<!--Vista para seleccionar ciudad-->
<div class="jumbotron" *ngIf = "!bool">
  <h1 class="display-3" align="center">Bienvenido a Meteo<span class="text-danger">APP</span></h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Bienvenido a la aplicación meteorológica que te permite consultar las predicciones de los próximos días la ciudad o municipio que desee. Tan sólo escriba su ciudad y meteoAPP le dará la información siempre actualizada.</p>
<form (ngSubmit)="buscar()" #formMuni="ngForm">

  <fieldset>

    <legend>Consultar predicciones para los próximos días ahora:</legend>

    <div class="form-group">
     Escriba el municipio del que quiere obtener la información:<br> 

           <i class="fa fa-exclamation-circle uncheck"
               *ngIf="municipio.invalid && municipio.touched"></i>

      <input type="text" 
     			   placeholder="ciudad/municipio"
     			   class="form-control"
             id="municipio"
             name="municipio" 
             ngModel
             required
             #municipio="ngModel"> 

       <p class="alert alert-danger" *ngIf="municipio.invalid && municipio.touched">
            La ciudad o municipio es obligatorio.
        </p>

    </div>
    </fieldset> 

    <flash-messages></flash-messages>

    <input type="submit" 
    class="btn btn-primary btn-lg" 
    value="Buscar"
    [disabled]="!formMuni.valid"
    >

</form> 

</div>


<!--Vista para visualizar resultados-->
<div class="jumbotron" *ngIf = "bool">

  <h3>Resultado para los próximos diez días en <span class="text-danger">{{lugar}}</span></h3>

  <p class="lead"></p>
  <hr class="my-4">
  <p>Estos son los datos solicitados:</p>
 
  <div class="card" id="tarjeta" *ngFor="let re of res" >

  <h3 class="card-header">{{dia[re.day]}}</h3>

  <div class="card-body">

    <h5 class="card-title">{{re.date}}</h5>

  </div>

  <img style="height: 200px; width: 100%; display: block;" src={{tiempo[re.code]}} alt="{{re.text}}">

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Temp. máx {{((re.high-32)/1.8).toFixed()}} grados</li>
    <li class="list-group-item">Temp. mín {{((re.low-32)/1.8).toFixed()}} grados</li>
  </ul>
  
</div>

<table class="table table-hover">

</table>

</div>